.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 7px;
}

.snake {
    background-color: lightcoral;
    color: black;
}

.ladder {
    background-color: lightgreen;
    color: black;
}

.values {
    display: flex;
    justify-content: space-between;
}

.value {
    margin: 0;
}

.endValue {
    border: 1px solid lightslategrey;
    border-radius: 7px;
    padding: 0 0.1rem;
    margin: 0;
}

.players {
    display: flex;
    justify-content: flex-start;
}

.P1 {
    background-color: lightblue;
    color: black;
    border-radius: 5px;
    padding: 0 0.25rem;
    margin: 0;
}

.P2 {
    background-color: lightpink;
    color: black;
    border-radius: 5px;
    padding: 0 0.25rem;
    margin: 0;
}